@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    font-family: "Inter", sans-serif;;
}
.appBar{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}
.btn_bar{
    padding: 20px;
}